footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 0rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 2rem;
}
footer a {
  text-decoration: none;
}
footer a:focus {
  text-decoration: none;
}

.footer__logo {
  font-size: 2rem;
  font-family: "Audiowide", cursive;
  text-shadow: 2px 2px 2px rgba(255, 255, 255);
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__logo img {
  aspect-ratio: 8, 07;
  width: 200px;
  object-fit: cover;
  object-position: center;
}
.footer__logo::after {
  content: "Copyright © 2022 gaming.lounge. All rights reserved.";
  color: var(--text-white);
  font-size: 11px;
  text-shadow: none;
  position: absolute;
  white-space: nowrap;
  left: 0;
  bottom: -1.8em;
}
.footer__logo span {
  font-size: 2rem;
  font-family: "Audiowide", cursive;
  color: var(--blue);
}
footer ul {
  display: flex;
  font-size: 13px;
  gap: 1rem;
  list-style: none;
}
footer li {
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 900px) {
  footer {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 3rem;
    padding-bottom: 2rem;
  }
}
