footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 0rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 4rem;
}

.footer__logo {
  font-size: 2rem;
  font-family: "Audiowide", cursive;
  text-shadow: 2px 2px 2px rgba(255, 255, 255);
  position: relative;
}
.footer__logo img {
  height: 45px;
  width: 250px;
  object-fit: cover;
  object-position: center;
  border-radius: 1rem;
}
.footer__logo::after {
  content: "Copyright © 2022 gaming.lounge. All rights reserved.";
  color: var(--text-white);
  font-size: 11px;
  text-shadow: none;
  position: absolute;
  white-space: nowrap;
  left: 1em;
  bottom: -1.5em;
}
.footer__logo span {
  font-size: 2rem;
  font-family: "Audiowide", cursive;
  color: var(--blue);
}
footer ul {
  display: flex;
  font-size: 13px;
  gap: 1rem;
  list-style: none;
}
footer li {
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
}
