@import url("https://fonts.googleapis.com/css2?family=Sora:wght@200;400;500;600&display=swap");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
  color: inherit;
}
a {
  text-decoration: none;
  color: inherit;
}
a:focus {
  text-decoration: none;
}
button {
  background: none;
  border: none;
  cursor: pointer;
}
:root {
  --white: #ffffff;
  --blue: #2c5dc9;
  --text-white: rgba(255, 255, 255, 0.6);
  --desktop-grid2: 2rem 12rem 1fr 0.6fr repeat(2, 1fr) 1.5fr 5rem;
  --desktop-grid: 34px 201px 177px 100px 155px 172px 160px 1fr;
  --mobile-grid: 34px 150px 177px 70px 110px 140px 160px 1fr;
}
body {
  background: radial-gradient(
    103.96% 103.96% at 56.56% 0%,
    #0f224d 0%,
    #000000 100%
  );
  color: var(--white);
  min-height: 100vh;
}
main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 1rem;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 3rem;
  padding-bottom: 3rem;
  max-width: 1186px;
  margin: auto;
}
.not__visible {
  display: none;
}
.nav_main_divider {
  display: block;
  margin-left: 250px;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}
.disable__scrolling {
  height: 100%;
  overflow: hidden;
}
@media only screen and (min-width: 900px) and (max-width: 1200px) {
}
@media only screen and (max-width: 900px) {
  .nav_main_divider {
    margin-left: 0px;
  }
}
