<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Token Lounge</title>
    <link rel="stylesheet" href="./index.css" />
    <link rel="stylesheet" href="./header.css" />
    <link rel="stylesheet" href="./sideNav.css" />
    <link rel="stylesheet" href="./tokens.css" />
  </head>
  <body>
    <header class="header">
      <div class="header__logo">Token <span>Lounge</span></div>
      <div class="header__buttons">
        <button>AD YOUR CASINO</button>
        <button class="highlight">CONTACT US</button>
      </div>
    </header>
    <div class="nav_main_divider">
      <nav class="sideNav">
        <div class="sideNav__socials">
          <ul>
            <li><img src="../images/Vector.png" /> Twitter</li>
            <li><img src="../images/Frame 1000002685.png" /> Instagram</li>
          </ul>
        </div>
        <div class="sideNav__blog">
          <h1>Blog</h1>
          <ul>
            <li>How to choose a right</li>
            <li>Most profitable projects</li>
            <li>Understanding Tokenomics</li>
            <li>Best projects in 2022</li>
            <li>About pump and dump</li>
            <li>Smart Investor</li>
          </ul>
        </div>
        <div class="sideNav__learn">
          <ul>
            <li></li>
            <li></li>
          </ul>
        </div>
      </nav>
      <main>
        <section class="banner">
          <div class="banner__text"></div>
          <div class="banner__token"></div>
          <div class="banner__token"></div>
        </section>
        <section class="tokensNav">
          <button>Crypto Projects</button>
          <button>Layer Two</button>
          <button>Crypto Casinos</button>
        </section>
        <section class="tokens">
          <div class="tokens__labels"></div>
          <ul class="tokens__list"></ul>
        </section>
        <section class="legend"></section>
        <section class="about"></section>
      </main>
    </div>
  </body>
</html>
