<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Token Lounge</title>
    <link rel="stylesheet" href="./index.css" />
    <link rel="stylesheet" href="./header.css" />
    <link rel="stylesheet" href="./sideNav.css" />
    <link rel="stylesheet" href="./tokens.css" />
    <link rel="stylesheet" href="./banner.css" />
    <link rel="stylesheet" href="./legend.css" />
    <link rel="stylesheet" href="./footer.css" />
    <script src="./index.js" defer></script>
  </head>
  <body>
    <header class="header">
      <div class="header__logo">Token <span>Lounge</span></div>
      <div class="header__buttons">
        <button>AD YOUR CASINO</button>
        <button class="highlight">CONTACT US</button>
        <div class="dropdown">sideNav</div>
      </div>
    </header>
    <div class="nav_main_divider">
      <nav class="sideNav">
        <div class="sideNav__buttons">
          <button>AD YOUR CASINO</button>
          <button class="highlight">CONTACT US</button>
        </div>
        <div class="sideNav__socials">
          <ul>
            <li><img src="../images/Vector.png" /> Twitter</li>
            <li><img src="../images/Frame 1000002685.png" /> Instagram</li>
          </ul>
        </div>
        <div class="sideNav__blog">
          <h1>Blog</h1>
          <ul>
            <li>How to choose a right</li>
            <li>Most profitable projects</li>
            <li>Understanding Tokenomics</li>
            <li>Best projects in 2022</li>
            <li>About pump and dump</li>
            <li>Smart Investor</li>
          </ul>
        </div>
        <div class="sideNav__learn">
          <ul>
            <li></li>
            <li></li>
          </ul>
        </div>
      </nav>
      <main>
        <section class="banner">
          <div class="banner__text"></div>
          <div class="banner__token"></div>
          <div class="banner__token"></div>
        </section>
        <section class="tokensNav">
          <button>Crypto Projects</button>
          <button>Layer Two</button>
          <button>Crypto Casinos</button>
        </section>
        <section class="tokens">
          <div class="tokens__labels">
            <div>#</div>
            <div>COIN</div>
            <div>BADGES</div>
            <div>GEN</div>
            <div>CHAIN</div>
            <div>PHASE</div>
            <div>VIP RANKING</div>
            <div></div>
          </div>
          <ul class="tokens__list">
            <li>
              <div>1</div>
              <div><img src="../images/soldier 1.png" />T doge food</div>
              <div>
                <div class="badge">KYC</div>
                <div class="badge">AUDIT</div>
                <div class="badge">SAFU</div>
                <div class="badge">DOXX</div>
              </div>
              <div>Game</div>
              <div><img src="../images/btc.png" />BSC</div>
              <div>PRESALE</div>
              <div>91232131</div>
              <div><button>WEBSITE</button></div>
            </li>
            <li>
              <div>1</div>
              <div><img src="../images/soldier 1.png" />T doge food</div>
              <div>
                <div class="badge">KYC</div>
                <div class="badge">AUDIT</div>
                <div class="badge">SAFU</div>
                <div class="badge">DOXX</div>
              </div>
              <div>Game</div>
              <div><img src="../images/btc.png" />BSC</div>
              <div>PRESALE</div>
              <div>91232131</div>
              <div><button>WEBSITE</button></div>
            </li>
            <li>
              <div>1</div>
              <div><img src="../images/soldier 1.png" />T doge food</div>
              <div>
                <div class="badge">KYC</div>
                <div class="badge">AUDIT</div>
                <div class="badge">SAFU</div>
                <div class="badge">DOXX</div>
              </div>
              <div>Game</div>
              <div><img src="../images/btc.png" />BSC</div>
              <div>PRESALE</div>
              <div>91232131</div>
              <div><button>WEBSITE</button></div>
            </li>
            <li>
              <div>1</div>
              <div><img src="../images/soldier 1.png" />T doge food</div>
              <div>
                <div class="badge">KYC</div>
                <div class="badge">AUDIT</div>
                <div class="badge">SAFU</div>
                <div class="badge">DOXX</div>
              </div>
              <div>Game</div>
              <div><img src="../images/btc.png" />BSC</div>
              <div>PRESALE</div>
              <div>91232131</div>
              <div><button>WEBSITE</button></div>
            </li>
            <li>
              <div>1</div>
              <div><img src="../images/soldier 1.png" />T doge food</div>
              <div>
                <div class="badge">KYC</div>
                <div class="badge">AUDIT</div>
                <div class="badge">SAFU</div>
                <div class="badge">DOXX</div>
              </div>
              <div>Game</div>
              <div><img src="../images/btc.png" />BSC</div>
              <div>PRESALE</div>
              <div>91232131</div>
              <div><button>WEBSITE</button></div>
            </li>
          </ul>
        </section>
        <section class="legend">
          <ul class="legend__column">
            <li>
              <div class="badge">KYC</div>
              - KYC stands for Know Your Customer and is a process used by many
              crypto projects to help ensure the safety and security of their
              users.
            </li>
            <li>
              <div class="badge">AUDIT</div>
              - Process of verifying the accuracy, security, and quality of a
              project's, through a rigorous review of the codebase, experts can
              identify security vulnerabilities, bugs, and other
              inconsistencies.
            </li>
          </ul>
          <ul class="legend__column">
            <li>
              <div class="badge">SAFU</div>
              - Secure Asset Fund for Users is a crypto-asset security fund
              established by Binance, the world’s largest cryptocurrency
              exchange. It is a reserve fund that serves to protect the users’
              funds in the event of a security breach, hack, or other emergency.
            </li>
            <li>
              <div class="badge">DOXX</div>
              - It's a decentralized protocol that allows users to securely
              store and share their identity data with the world.
            </li>
          </ul>
          <ul class="legend__column">
            <li>
              <span>PRESALE</span> - Raising funds before the public sale of the
              tokens.
            </li>
            <li>
              <span>ALPHA</span> - This stage is usually characterized by a high
              degree of experimentation and risk, as the team works to develop
              the functioning product.
            </li>
            <li>
              <span>BETA</span> - The stage of development where the project's
              core code and infrastructure are tested and improved upon by
              developers and early users.
            </li>
          </ul>
        </section>

        <section class="about">
          <h1>About Token Lounge</h1>
          <div class="about__table">
            <div class="about__column">
              <p>
                AbouL2BEAT is an analytics and research website about Ethereum
                layer two (L2) scaling. We provide a comparison of the various
                Ethereum L2 systems available today.
              </p>
              <p>
                An important differentiator between L2BEAT and similar sites is
                that L2BEAT is committed to educating users and lists only
                projects that match our narrow definition of L2. We define layer
                two as a chain that fully or partially derives its security from
                layer one Ethereum so that users do not have to rely on the
                honesty of L2 validators for the security of their funds.
              </p>
            </div>
            <div class="about__column">
              <p>
                Because of our commitment to education we present various
                non-trivial metrics aside from Total Value Locked (TVL). We have
                carefully examined each L2 project to determine the inner
                workings of their technology as well as the associated risks. To
                learn about any of our listed projects visit their respective
                page on L2BEAT.
              </p>

              <p>
                We have also compiled a list of Frequently Asked Questions that
                will help explain some of the decisions we made for our site. We
                hope you find L2BEAT a valuable resource.
              </p>
            </div>
          </div>
        </section>
        <footer>
          <div class="footer__logo">Token <span>Lounge</span></div>
          <ul>
            <li><img src="../images/Vector.png" /> Twitter</li>
            <li><img src="../images/Frame 1000002685.png" /> Instagram</li>
          </ul>
        </footer>
      </main>
    </div>
  </body>
</html>
