@import url("https://fonts.googleapis.com/css2?family=Sora:wght@200;400;500;600&display=swap");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
  color: inherit;
}
button {
  background: none;
  border: none;
  cursor: pointer;
}
:root {
  --white: #ffffff;
  --blue: #2c5dc9;
  --text-white: rgba(255, 255, 255, 0.6);
}
body {
  background: radial-gradient(
    103.96% 103.96% at 56.56% 0%,
    #0f224d 0%,
    #000000 100%
  );
  color: var(--white);
}
main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
  padding-top: 3rem;
  width: 60%;
  margin: auto;
}
.not__visible {
  display: none;
}
.nav_main_divider {
  display: flex;
  width: 100%;
}
.disable__scrolling {
  height: 100%;
  overflow: hidden;
}
@media only screen and (max-width: 900px) {
  .nav_main_divider {
    display: block;
  }
  main {
    width: 100%;
  }
}
