.legend {
  display: grid;
  gap: 5rem;
  grid-template-columns: repeat(3, 1fr);
  padding: 3rem 4rem;
  font-size: 10px;
  color: var(--text-white);
  line-height: 1.5em;
}
.legend__column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.legend__column li {
  position: relative;
}
.legend__column > li .badge {
  position: absolute;
  top: -4px;
  left: -50px;
  width: 31.01px;
  height: 22.02px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.legend span {
  font-size: 12px;
  color: var(--white);
}
.about {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 3rem;
}
.about h1 {
  color: var(--white);
  font-size: 24px;
}
.about__table {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  font-size: 15px;
  color: var(--text-white);
}

.about__column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media only screen and (max-width: 900px) {
  .legend {
    grid-template-columns: repeat(2, 1fr);
  }
}
