@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");
.tokens {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  white-space: nowrap;
}
.tokensNav {
  padding: 1rem 0rem;
  display: flex;
  gap: 0.75rem;
  top: 0;
}
.tokensNav button {
  padding: 1rem;
  border-radius: 1rem;
  color: var(--text-white);
  transition: 200ms all;
  cursor: auto;
}
.tokensNav button:nth-child(1) {
  color: #ffffff;
  text-shadow: 0px 0px 0.5rem rgba(255, 255, 255, 0.8);
  background: rgba(255, 255, 255, 0.04);
}
.tokensNav button:nth-child(2),
.tokensNav button:nth-child(3) {
  position: relative;
}
.tokensNav button:nth-child(2)::after,
.tokensNav button:nth-child(3)::after {
  content: "Coming Soon";
  position: absolute;
  font-size: 0.5rem;
  background: rgba(255, 255, 255, 0.08);
  color: var(--text-white);
  padding: 1em;
  border-radius: 1em;
  top: -1.5rem;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: min-content;
  white-space: nowrap;
  opacity: 0;
  transition: all 200ms;
}
.tokensNav button:nth-child(2):hover::after,
.tokensNav button:nth-child(3):hover::after {
  opacity: 1;
}
.tokens__wrap {
  display: block;
  overflow-x: auto;
  overflow-y: hidden;
}
.tokens__labels {
  display: grid;
  grid-template-columns: var(--desktop-grid);
  font-size: 14px;
  color: var(--text-white);
  width: 1156px;
  padding: 0.5rem 20px;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.tokens__labels div {
  display: flex;
  min-width: min-content;
}

.tokens__labels div:nth-child(5),
.tokens__labels div:nth-child(6),
.tokens__labels div:nth-child(4) {
  justify-content: flex-end;
}

.tokens__labels div:nth-child(7) {
  align-items: center;
  justify-content: center;
  position: relative;
}
.tokens__vip {
  display: flex;
  align-items: center;
  gap: 6px;
  justify-content: center;
}
.tokens__vip--info {
  z-index: -1;
  font-size: 0.5rem;
  background: radial-gradient(
    103.96% 103.96% at 56.56% 0%,
    #0f224d 0%,
    #000000 100%
  );
  color: var(--text-white);
  height: 89px;
  width: 335px;
  line-height: 12px;
  white-space: normal;
  border-radius: 5.9731550216674805px;
  padding: 1em;
  border-radius: 1em;
  position: absolute;
  bottom: -100px;
  opacity: 0;
  transition: all 200ms;
}
.tokens__vip > span:hover + .tokens__vip--info {
  opacity: 1;
  z-index: 2;
}

.tokens__labels div:nth-child(7) span {
  font-size: 9px;
}
.tokens__list {
  font-size: 13px;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 4px;
  gap: 12px;
  width: 1156px;
  overflow: auto;
}
.tokens__list > li {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 6px;
  min-width: min-content;
  width: 100%;
  display: grid;
  grid-template-columns: var(--desktop-grid);
  padding: 0.75rem 1rem;
  transition: all 200ms;
}
.tokens__list > li:hover {
  box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.8);
}
.tokens__list > li > div {
  display: flex;
  overflow: hidden;
  align-items: center;
}

.tokens__list > li > div:nth-child(2) {
  gap: 0.5rem;
}
.tokens__list > li > div:nth-child(2) img {
  border: 1.2px solid #c5c5c7;
}
.tokens__list > li > div:nth-child(2) img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
.tokens__list > li > div:nth-child(3) {
  gap: 4px;
}
.badge {
  font-size: 7px;
  display: inline-block;
  padding: 1em;
  background-color: rgb(23, 208, 106);
  border-radius: 1em;
}
.KYC {
  background: #6ec47c;
}
.AUDIT {
  background: #54b9d1;
}
.SAFU {
  background: #cf67f1;
}
.DOXX {
  background: #f4b70f;
}
.tokens__list > li > div:nth-child(5) {
  gap: 6px;
}
.tokens__list > li > div:nth-child(5) img {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin-bottom: 1px;
  object-fit: cover;
  object-position: center;
}
.tokens__list > li > div:nth-child(6) img {
  width: 1.2rem;
  height: 1.2rem;
  margin-bottom: 4px;
  object-fit: cover;
  object-position: center;
}
.tokens__list > li > div:nth-child(5),
.tokens__list > li > div:nth-child(6),
.tokens__list > li > div:nth-child(4) {
  justify-content: flex-end;
}

.tokens__list > li > div:nth-child(7) {
  justify-content: center;
}
.tokens__list > li > div:nth-child(7) {
  text-shadow: 0px 0px 10px #2c5dc9;
}
.tokens__list > li > div:nth-child(8) {
  justify-content: flex-end;
}
.tokens__list > li > div:nth-child(8) > a {
  font-size: 0.5rem;
  padding: 0.5rem 1.2rem;
  background: var(--blue);
  margin-right: 4px;
  box-shadow: 0px 1.01493px 5px rgba(44, 93, 201, 0.5),
    inset 0px 1.52239px 0px rgba(255, 255, 255, 0.25),
    inset 0px 2.02985px 8.1194px #002eff,
    inset 0px -1.52239px 0px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  transition: all 200ms;
  cursor: pointer;
  text-decoration: none;
}
.tokens__list > li > div:nth-child(8) > a:focus {
  text-decoration: none;
}
.tokens__list > li > div:nth-child(8) > a:hover {
  filter: drop-shadow(0px 0px 1px rgba(255, 255, 255, 0.8));
}

.tokens__slider {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.tokens__slider ul {
  display: flex;
  justify-content: center;
  padding: 1rem 2rem;
  gap: 0.5rem;
  list-style: none;
}
.tokens__slider li {
  padding: 0.5rem;
  font-size: 12px;
  border-radius: 12px;
  cursor: pointer;
}
.slide {
  color: var(--text-white);
}
.current {
  color: var(--white);
  background: rgba(255, 255, 255, 0.08);
}

@media only screen and (max-width: 900px) {
  .tokens__list {
    width: 1000px;
  }
  .tokens__labels {
    width: 1000px;
    grid-template-columns: var(--mobile-grid);
  }
  .tokens__list > li {
    grid-template-columns: var(--mobile-grid);
  }
}
